doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Matematica Computacional  |
        link(rel="stylesheet", href="/css/output.css")
    body(class="min-h-screen bg-gradient-to-br from-purple-400 via-pink-500 to-red-500 py-12 px-4 sm:px-6 lg:px-8 max-w-4xl mx-auto")

        h1(class="text-3xl font-bold underline md:flex md:items-center justify-center px-5 my-5")
        main(class="mx-auto container mt-10 px-2")
            block contenido
script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
